@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-slate-900 text-gray-50;
  }
  input {
    @apply p-2 rounded w-auto;
  }
  input[type="text"] {
    @apply text-black w-[80vw] sm:w-[60vw] lg:w-[40vw];
  }
  h1 {
    @apply text-3xl;
  }
  span {
    @apply flex items-center justify-center;
  }
  span > p {
    @apply px-1;
  }
  li:nth-child(even) {
    @apply bg-slate-800;
  }
  .button {
    @apply text-gray-50 border-slate-600 hover:border-slate-400;
    @apply p-2 border-2 border-solid mx-1 cursor-pointer rounded;
  }
  .videolist {
    @apply h-[94%] overflow-y-scroll;
  }
  .videolist > ul > li {
    @apply p-1 text-ellipsis overflow-hidden;
  }
  .main {
    @apply flex flex-col lg:flex-row justify-center;
  }
  .video-page {
    @apply flex flex-col lg:flex-row justify-center;
    @apply w-screen h-screen;
  }
  .sidebar {
    @apply h-[60vh] lg:h-screen lg:w-96;
  }
  .video-player {
    @apply h-[40vh] flex-grow w-screen lg:h-screen lg:w-auto;
  }
  .video-player-full {
    @apply h-full flex-grow w-screen lg:h-screen lg:w-auto;
  }
  .controls {
    @apply flex justify-around py-3 border-b;
  }
  .channels {
    @apply flex flex-col justify-around items-stretch w-screen h-screen overflow-hidden;
  }
  .channels-form {
    @apply flex m-auto sm:m-0 h-full w-full;
  }
  .source-input {
    @apply text-black w-full;
  }
  .channels-list {
    @apply grid grid-flow-row gap-3 grid-cols-1 md:grid-cols-2 xl:grid-cols-3;
    @apply p-1 m-auto;
    @apply drop-shadow shadow-black;
    @apply w-full md:w-[730px] lg:w-[950px] xl:w-[1200px] 2xl:w-[1500px];
  }
  .channels-list-element {
    @apply md:bg-slate-800;
    @apply w-full md:w-[350px] lg:w-[470px] xl:w-[375px] 2xl:w-[470px];
    @apply flex justify-between;
    @apply md:rounded-2xl m-auto px-1;
  }
  .channels-list-link {
    @apply flex flex-grow items-center px-2 py-3;
  }
  .channels-list-link > img {
    @apply rounded-full max-w-[76px] shadow shadow-slate-900;
  }
  .channels-list-title {
    @apply p-2 flex-grow;
  }
  .channels-list-close {
    @apply flex-shrink w-8 m-auto my-0;
  }
  .channels-top {
    @apply flex justify-between items-center py-2 flex-col sm:flex-row m-auto p-3;
    @apply w-full md:w-[740px] lg:w-[975px] xl:w-[1200px] 2xl:w-[1500px];
  }
  .channels-bottom {
    @apply h-full overflow-y-scroll m-auto w-full;
  }
  .channels-buttons {
    @apply flex flex-shrink m-auto my-2 sm:m-1 text-lg justify-between;
    @apply w-full sm:w-auto h-full;
  }
  .channels-buttons button {
    @apply w-[inherit];
  }
  .channels-footer {
    @apply flex justify-center p-2;
  }
  .channels-search {
    @apply flex flex-col;
  }
  .search-header {
    @apply flex justify-between items-center;
    @apply m-auto p-1;
    @apply w-full md:w-[730px] lg:w-[950px] xl:w-[1200px] 2xl:w-[1500px];
  }
  .videolist-video {
    @apply flex items-center w-full;
  }
  .videolist-video img {
    @apply aspect-video max-h-16 p-1;
  }
  .videolist-text p {
    @apply max-h-12 overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .welcome {
    @apply w-full md:w-[740px] lg:w-[975px] xl:w-[1200px] 2xl:w-[1500px];
    @apply m-auto p-1;
  }
  .welcome p {
    @apply p-2
  }
  .welcome ul {
    @apply m-auto list-disc list-inside;
  }
  .welcome li {
    @apply bg-inherit p-1;
  }
}